<h1>New Artist</h1>

<% if @artist.errors.any? %>
<h3>We've got problem! </h3>
<h4>
  <%= pluralize(@artist.errors.count, 'error') %>
  stopped us from saving the task:
</h4>

    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
    <li>
    <%= msg %>
    </li>
    <% end %>
    </ul>
<% end %>
<%= render 'artists/form' %>